.react-parallax {
   // Navbar
   .navbar {
      background-color: rgba(0, 0, 0, 0.2);
      display: flex;
      justify-content: flex-end;
      padding: 1rem;
      position: fixed;
      width: 100%;
      z-index: 9999;

      ul {
         list-style-type: none;

         a {
            text-decoration: none;
            color: limegreen;

            &:hover {
               color: cadetblue;
               transition: 1s ease-in-out;
            }
         }
      }
   }

   // Container
   .container {
      position: relative;

      &__bl1 {
         display: grid;
         place-items: center;
         background-image: url('/images/basketball_01.png');
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
         height: 500px;
         position: relative;

         h1 {
            position: absolute;
            color: white;
         }
      }

      &__bl2 {
         display: grid;
         place-items: center;
         background-image: url('/images/basketball_02.png');
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
         height: 100vh;
         position: relative;

         h1 {
            position: absolute;
            color: white;
         }
      }
      &__bl3 {
         display: grid;
         place-items: center;
         background-image: url('/images/basketball_03.png');
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
         height: 100vh;
         position: relative;

         h1 {
            position: absolute;
            color: white;
         }
      }
   }

   .text-container {
      background-color: darkgray;
      padding: 3rem;
   }
}
