* {
   max-width: 1440px;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body,
html {
   /* font-family: 'Montserrat', sans-serif; */
   /* font-family: 'Oswald', sans-serif; */
   font-family: 'Raleway', sans-serif;
}

header {
   background-color: rgba(0, 0, 0, 0.1);
   display: flex;
   justify-content: center;
   padding: 1em;
}

h1 {
   color: crimson;
}

section {
   height: 100vh;
   overflow: hidden;
   position: relative;
}

.bg-cover {
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   bottom: 0;
   left: 0;
   position: absolute;
   right: 0;
   top: 0;
   z-index: -1;
}

.container {
   position: relative;
   z-index: 1;
}